---
# Personal Github
Host github.com
        HostName github.com
        User git
        IdentityFile {{ GIT_PEM_PATH }}

# Personal Bitbucket
Host bitbucket.org
        HostName bitbucket.org
        User git
        IdentityFile {{ GIT_PEM_PATH }}
